<div class="store-container">
    <div class="store-filter-bar" [class.open]="showingFilter">
        
        <form (ngSubmit)="storeService.submitSearch(searchForm)" 
            #searchForm="ngForm" 
            class="search-bar">

            <button class="hamburger" (click)="toggleFilter()">
                &#9776;
            </button>
    
            <input 
                class="search-text"
                type="text" 
                placeholder="Search..." 
                aria-label="Search"
                required
                
                name="query"
                ngModel
            >
            
            <button type="submit" class="search-button">Search</button>
        </form>

        <div class="category-list">
            <h1>Categories</h1>
            <ul>
                @for (category of categories; track category.categoryId) {
                    <li (click)="storeService.selectCategory(category.name)" >{{category.name}}</li>
                }
            </ul>
        </div>

        <div class="manufacturer-list">
            <h1>Manufacturers</h1>
            <ul>
                @for (manufacturer of manufacturers; track manufacturer.manufacturerId) {
                    <li (click)="storeService.selectManufacturer(manufacturer.name)">{{manufacturer.name}}</li>
                }
            </ul>
        </div>

        <div class="caliber-list">
            <h1>Calibers</h1>
            <ul>
                @for (caliber of calibers; track caliber.caliberId) {
                    <li (click)="storeService.selectCaliber(caliber.name)">{{caliber.name}}</li>
                }
            </ul>
        </div>
        

    </div>
    <div class="store-body">
        @for (product of products; track product.name) {
            <div class="product-card">
                
                <div class="product-info-container">
                    @if (product.imageName) {
                        <img 
                            [src]="apiUrl + '/' + product.productId" 
                            [alt]="product.name"
                        />
                    } @else {
                        <img 
                            src="assets/images/gun-not-found.png" 
                            [alt]="product.name"
                        />
                    }

                    <h3 class="product-name">{{ product.name }}</h3>

                    <p class="product-price">
                        {{ product.price | currency:'PHP' }}
                    </p>

                    <p class="product-stock">
                        In Stock: {{ product.stock }}
                    </p>

                    <p class="product-description">
                        {{ product.description }}
                    </p>

                    <p class="product-tags">
                        {{ product.tagNames.join(', ') }}
                    </p>
                </div>

                <div class="product-button-container">
                    @if (product.stock > 0) {
                        <button class="details-button" (click)="storeService.viewProductDetails(product)">
                            Buy Now
                        </button>
                    } @else {
                        <button class="details-button" style="background-color: grey; cursor: default;">
                            Out of Stock
                        </button>
                    }
                    <div>
                        <input type="file" (change)="onFileSelected($event, product.productId)" #fileInput />
                        <button (click)="uploadImage()">Upload Image</button>
                    </div>
                </div>

            </div>
        }
        
    </div>
</div>