<div class="store-container">
    <div class="store-filter-bar">
        
        <form (ngSubmit)="submitSearch(searchForm)" 
            #searchForm="ngForm" 
            class="search-bar">
    
            <input 
                class="search-text"
                type="text" 
                placeholder="Search..." 
                aria-label="Search"
                required
                
                name="query"
                ngModel
            >
            
            <button type="submit" class="search-button">Search</button>
        </form>

        <div class="category-list">
            <h1>Categories</h1>
            <ul>
                @for (category of categories; track category.categoryId) {
                    <li (click)="selectCategory(category.name)" >{{category.name}}</li>
                }
            </ul>
        </div>

        <div class="manufacturer-list">
            <h1>Manufacturers</h1>
            <ul>
                @for (manufacturer of manufacturers; track manufacturer.manufacturerId) {
                    <li (click)="selectManufacturer(manufacturer.name)">{{manufacturer.name}}</li>
                }
            </ul>
        </div>

        <div class="caliber-list">
            <h1>Calibers</h1>
            <ul>
                @for (caliber of calibers; track caliber.caliberId) {
                    <li (click)="selectCaliber(caliber.name)">{{caliber.name}}</li>
                }
            </ul>
        </div>
        

    </div>
    <div class="store-body">
        @for (product of products; track product.name) {
            <div class="product-card">
                <h3 class="product-name">{{ product.name }}</h3>
                
                @if (product.imageName) {
                    <img [src]="'/assets/images/products/' + product.imageName" [alt]="product.name">
                }

                <p class="product-price">
                    {{ product.price | currency:'PHP' }}
                </p>

                <p class="product-stock">
                    In Stock: {{ product.stock }}
                </p>

                <p class="product-description">
                    {{ product.description }}
                </p>

                @if (product.stock > 0) {
                    <button class="details-button" (click)="viewProductDetails(product)">
                        Buy Now
                    </button>
                } @else {
                     <button class="details-button" style="background-color: grey; cursor: default;">
                        Out of Stock
                    </button>
                }
                   
        
            </div>
        }
    </div>
</div>