<div class="main-container">
    <div class="title-container">
    <h1>Legal Requirements and Information</h1>
        <p>
            Owning a firearm carries significant responsibility 
            and requires proper knowledge, preparation, and ongoing 
            diligence. It is not merely about possession but about 
            understanding the legal, ethical, and safety obligations 
            that come with it. Prospective firearm owners must take 
            the time to study applicable laws, practice responsible 
            handling, and stay informed about safe storage and maintenance 
            practices. Before making a purchase, there are several important 
            considerations to keep in mind to ensure full compliance and 
            responsible ownership.
        </p>
    </div>
    <div class="card-container">

        <div class="legal-card" routerLink="definition-of-terms">
            <h1>Definition of Terms</h1>
            <p>Learn the key firearm-related and legal terms used throughout Philippine regulations.</p>
            <p class="p-icon defintion-of-terms"></p>
        </div>

        <div class="legal-card" routerLink="licenses-and-permits">
            <h1>Licenses and Permits</h1>
            <p>Understand the different firearm licenses, permits, and authorizations recognized by the PNP-FEO.</p>
            <p class="p-icon licenses-and-permits"></p>
        </div>

        <div class="legal-card" routerLink="eligibility-requirements">
            <h1>Eligibility Requirements</h1>
            <p>Find out and discover who is legally qualified to own or possess a firearm under Philippine law.</p>
            <p class="p-icon eligibility-requirements"></p>
        </div>

        <div class="legal-card" routerLink="steps-to-apply">
            <h1>License Application Procedure</h1>
            <p>Follow the official process for obtaining and maintaining a firearm license in the Philippines.</p>
            <p class="p-icon steps-to-apply"></p>
        </div>

    </div>

    <router-outlet/>
</div>