<div class="main-container">
    <div class="title-container">
        <h1>Definition of Terms</h1>
        <p>
            The world of firearms comes with a wide array of specialized terms and legal definitions. 
            Understanding these is essential for every firearm owner, as it ensures proper handling, 
            compliance with Philippine laws, and responsible ownership. This section will clarify 
            commonly used terminology so you can confidently navigate safety, regulations, and best practices.
        </p>
    </div>
    <div class="card-container">

    </div>
</div>