@use "../../app.component" as app;

$div-border-debug: false;


div.home-banner {
    @include app.app-theme;
    @include app.darken-background-image(url(../../resources/images/gun-banner.jpg), 0.7);
    @include app.div-padding;

    $primary-color: app.$primary-color;
    $accent-color: app.$accent-color;
    $text-color: app.$text-color;
    $font-family: app.$font-family;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;

    div.banner-content {
        @if ($div-border-debug) { border: 1px red solid; }

        width: 60%;
        margin: 0; /* replace 0 5vw with auto to prevent overflow */
        box-sizing: border-box;

        @include app.respond("md") {
            width: 100%;
        }

        h1 {
            @include app.title-text(3rem, 400);
        }

        p {
            @include app.body-text(1.2rem, 400);

            a {
                color: $accent-color;
                font-weight: 600;
                text-decoration: none;
                transition: color 400ms, font-weight 200ms;

                &:hover {
                    color: lighten($accent-color, 20%);
                }
            }
        }
    }
}


div.gun-safety {
    @include app.app-theme;
    @include app.darken-background-image(url(../../resources/images/dark-metal.jpg), 0.9);
    @include app.div-padding;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    div.gun-safety-content {
        @if ($div-border-debug) { border: 1px red solid; }

        width: 100%;
        margin: 0 auto;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        @include app.respond("lg") {
            flex-direction: column;
            gap: 0rem;
        }

        div.gun-safety-text {
            @if ($div-border-debug) { border: 1px blue solid; }
            flex: 1 1;
            box-sizing: border-box;

            h1 {
                @include app.title-text(3rem, 400);
            }

            p {
                @include app.body-text(1.2rem, 400);
            }
        }

        div.card-box {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            flex: 1.5 1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem; 

            @include app.respond("md") {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
                box-sizing: border-box;
            }

            div.safety-rule {
                background: rgba(20, 20, 20, 0.6);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 12px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                
                flex: 1 1 200px;
                min-height: 150px;
                padding: 2rem 4rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                
                transition: background-color 300ms, transform 300ms ease, box-shadow 300ms ease;

                &:hover {
                    background: rgba(20, 20, 20, 0.8);
                    transform: scale(1.04);
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
                }

                h1 {
                    @include app.title-text(2rem, 400);
                    color: app.$accent-color;
                }

                p {
                    @include app.body-text(1.5rem, 500);
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}


div.store-info {
    @include app.app-theme;
    @include app.darken-background-image(url(../../resources/images/shooting-range.jpg), 0.8);
    @include app.div-padding;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    div.store-info-content {
        @if ($div-border-debug) { border: 1px red solid; }
        
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        
        @include app.respond(md) {
            grid-template-columns: repeat(1, 1fr);
        }

        div.how-to-purchase {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            h1 {
                @include app.title-text(2rem, 400);
            }

            p {
                @include app.body-text(1.2rem, 400);
            }

            ul {
                @if ($div-border-debug) { border: 1px green solid; }

                list-style: none;
                          
                display: flex;
                flex-direction: column;
                text-align: flex-starts;
                gap: 1rem;
                
                padding: 0 0 0 1rem;

                li {
                    @if ($div-border-debug) { border: 1px white solid; }

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    min-height: 3rem;

                    position: relative;

                    &::before {
                        content: "";
                        background: url("../../resources/images/gun-list-style.png") no-repeat center;
                        background-size: contain;

                        flex-shrink: 0;
                        display: inline-block;

                        width: 2.5rem;
                        height: 2.5rem;
                        margin-right: 1rem;
                    }

                    span {
                        @include app.body-text(1.1rem, 700);
                    }
                }
            }
        }

        div.featured-products {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            h1 {
                @include app.title-text(2rem, 400);
            }

            p {
                @include app.body-text(1.2rem, 500);
            }
        }

    }
}