<div class="home-banner">
    <div class="banner-title">
        <h1>Welcome to Riel's Armory</h1>
        <h2>
            Dedicated to bringing you the highest 
            quality firearm products from around the 
            globe, combining craftsmanship, performance, 
            and cutting-edge technology to ensure every 
            firearm meets the highest standards of reliability, 
            accuracy, and durability.
        </h2>
        <h2>
            Explore our extensive selection of firearms, 
            accessories, and gear, all curated to enhance 
            your shooting experience. Whether you're a 
            seasoned enthusiast or a first-time buyer, 
            Riel's Armory is your trusted partner in the 
            world of firearms.
        </h2>
        <h2>
            Before you begin, please make sure to check out the 
            <a class="legal-link" routerLink="/legal">Legal Page</a>
            to confirm if you are eligible to make purchases 
            through our store, and to educate yourself on the proper
            handling and ownedership of firearms.
        </h2>
    </div>
</div>