@use "../../app.component" as app;


$div-border-debug: false;


div.home-banner {
    @include app.app-theme;
    @include app.darken-background-image(url("/assets/images/gun-banner.jpg"), 0.7);
    @include app.div-padding;

    $primary-color: app.$primary-color;
    $accent-color: app.$accent-color;
    $text-color: app.$text-color;
    $font-family: app.$font-family;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;

    div.banner-content {
        @if ($div-border-debug) { border: 1px red solid; }

        width: 60%;
        margin: 0; /* replace 0 5vw with auto to prevent overflow */
        box-sizing: border-box;

        @include app.respond("md") {
            width: 100%;
        }

        h1 {
            @include app.title-text(2rem, 400);
        }

        p {
            @include app.body-text(1rem, 400);

            a {
                color: $accent-color;
                font-weight: 600;
                text-decoration: none;
                transition: color 400ms, font-weight 200ms;

                &:hover {
                    color: lighten($accent-color, 20%);
                }
            }
        }
    }
}


div.gun-safety {
    @include app.app-theme;
    @include app.darken-background-image(url("/assets/images/dark-metal.jpg"), 0.9);
    @include app.div-padding;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    div.gun-safety-content {
        @if ($div-border-debug) { border: 1px red solid; }

        width: 100%;
        margin: 0 auto;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        @include app.respond("lg") {
            flex-direction: column;
            gap: 0rem;
        }

        div.gun-safety-text {
            @if ($div-border-debug) { border: 1px blue solid; }
            flex: 1 1;
            box-sizing: border-box;

            h1 {
                @include app.title-text(2rem, 400);
            }

            p {
                @include app.body-text(1rem, 400);
            }
        }

        div.card-box {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            flex: 1.5 1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem; 

            @include app.respond("md") {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
                box-sizing: border-box;
            }

            div.safety-rule {
                background: rgba(20, 20, 20, 0.6);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 12px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                
                flex: 1 1 200px;
                min-height: 150px;
                padding: 2rem 4rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                
                transition: background-color 300ms, transform 300ms ease, box-shadow 300ms ease;

                &:hover {
                    background: rgba(20, 20, 20, 0.8);
                    transform: scale(1.04);
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
                }

                h1 {
                    @include app.title-text(1.5rem, 400);
                    color: app.$accent-color;
                }

                p {
                    @include app.body-text(1rem, 500);
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}


div.store-info {
    @include app.app-theme;
    @include app.darken-background-image(url("/assets/images/shooting-range.jpg"), 0.8);
    @include app.div-padding;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    div.store-info-content {
        @if ($div-border-debug) { border: 1px red solid; }
        
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        
        @include app.respond(md) {
            grid-template-columns: repeat(1, 1fr);
        }

        div.how-to-purchase {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            h1 {
                @include app.title-text(2rem, 400);
            }

            p {
                @include app.body-text(1rem, 400);
            }

            ul {
                @if ($div-border-debug) { border: 1px green solid; }

                list-style: none;
                          
                display: flex;
                flex-direction: column;
                text-align: flex-starts;
                gap: 1rem;
                
                padding: 0 0 0 1rem;

                li {
                    @if ($div-border-debug) { border: 1px white solid; }

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    min-height: 3rem;

                    position: relative;

                    &::before {
                        content: "";
                        background: url("/assets/images/gun-list-style.png") no-repeat center;
                        background-size: contain;

                        flex-shrink: 0;
                        display: inline-block;

                        width: 2.5rem;
                        height: 2.5rem;
                        margin-right: 1rem;
                    }

                    span {
                        @include app.body-text(1.2rem, 700);
                    }
                }
            }
        }

        div.featured-products {
            @if ($div-border-debug) { border: 1px blue solid; }
            
            display: block;

            h1 {
                @include app.title-text(2rem, 400);
            }

            div.featured-products-container {


                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
                gap: 0.5rem;

                @include app.respond("md") {
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                }

                @include app.respond("sm") {
                    grid-template-columns: 1fr;
                }

                div.product-card {
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    overflow: hidden; 
                    background-color: #ffffff; 
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1rem;
                    
                    transition: transform 0.2s ease, box-shadow 0.2s ease;
                    padding: 1rem;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    }
                    
                    div.product-info-container {
                        img {
                            width: 100%;
                            //border-bottom: 1px solid lighten(app.$accent-color, 10%);
                        }
                        h3.product-name {
                            @include app.title-text(1.2rem, 400);
                        }
                        p.product-price {
                            @include app.body-text(0.8rem, 600);
                        }
                        p.product-stock {
                            @include app.body-text(0.6rem, 600);
                        }
                        p.product-description {
                            @include app.body-text(0.6rem, 400);
                        }
                        p.product-tags {
                            @include app.body-text(0.6rem, 700);
                        }
                        h3.product-name,
                        p.product-price,
                        p.product-stock,
                        p.product-description,
                        p.product-tags {
                            color: app.$primary-color;
                            margin-bottom: 0;
                        }
                        p.product-price {
                            color: darken(app.$accent-color, 15%);
                        }
                    }
                    div.product-button-container {
                        .details-button {
                            width: 100%;
                            box-sizing: border-box;
                            padding: 1rem;
                            cursor: pointer;
                            background-color: app.$accent-color;
                            border: none;
                            color: white;
                            @include app.body-text(0.8rem, 400);
                            margin-bottom: 0;
                            transition: background-color 300ms;
                            &:hover {   
                                background-color: lighten(app.$accent-color, 10%);
                            }
                            &:active {
                                background-color: lighten(app.$accent-color, 25%);
                            }
                        }
                    }
                }   

            }
        }

    }
}