@use "../../app.component" as app;


div.footer-container {

    @include app.app-theme;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: 20vh;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;

    div.footer-content {

        padding: 0 5vw;
        max-width: 100%;
        box-sizing: border-box;

        div.footer-logo {

            img {
                width: 10rem;
            }

        }
    }

}