<div class="footer-container">
    <div class="footer-content">
        
        <div class="logo">
            <img src="/assets/images/RielArmoryLogoRound.png" alt="Riel's Armory Logo">
            <div>
                <h1>Riel's Armory</h1>
                <p>The #1 Choice for Firearms in the Philippines</p>
            </div>
        </div>

        <div class="list">
            <p>
                Browse
            </p>
            <ul>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="legal">Legal</a></li>
                <li><a routerLink="store">Store</a></li>
                <li><a routerLink="checkout">Checkout</a></li>
            </ul>
        </div>

        <div class="list">
            <p>
                Legal Info
            </p>
            <ul>
                <li><a routerLink="legal/definition-of-terms">Definition of Terms</a></li>
                <li><a routerLink="legal/licenses-and-permits">Licenses & Permits</a></li>
                <li><a routerLink="legal/eligibility-requirements">Eligibility Requirements</a></li>
                <li><a routerLink="legal/steps-to-apply">License Application</a></li>
            </ul>
        </div>

        <div class="list">
            <p>
                Products
            </p>
            <ul>
                <li><a routerLink="">Pistol</a></li>
                <li><a routerLink="">Revolver</a></li>
                <li><a routerLink="">Rifle</a></li>
                <li><a routerLink="">Shotgun</a></li>
                <li><a routerLink="">Carbine</a></li>
                <li><a routerLink="">SMG</a></li>
                <li><a routerLink="">Machine Gun</a></li>
                <li><a routerLink="">Ammunition</a></li>
            </ul>
        </div>

    </div>
</div>
