@use "../../app.component" as app;

@mixin footer-padding {
    padding: 2rem 0;
}

$div-border-debug: true;

div.footer-container {

    @include app.app-theme;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;

    @include app.respond("sm") {
        height: 200px;
    }

    div.footer-content {

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        @include app.respond("lg") {
            gap: 1rem;
        }
        @include app.respond("md") {
            justify-content: center;
        }

        width: 100%;
        height: 100%;
        padding: 0rem 6rem 2rem 6rem;
        box-sizing: border-box;

        &>* {
            height: 100%;
            box-sizing: border-box;
        }

        div.logo {
            @if ($div-border-debug) { border: 1px red solid; }

            flex-grow: 0;
            flex-shrink: 1;
            
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 1rem;

            @include footer-padding;

            img {
                width: clamp(8rem, 5vw, 10rem);
                height: auto;
                display: block;
            }

            div {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h1 {
                    @include app.title-text(2rem, 400);
                    margin: 0;
                }

                p {
                    @include app.body-text(1rem, 400);
                    margin: 0;
                }

            }

        }

        div.list {
            @if ($div-border-debug) { border: 1px red solid; }

            @include app.respond("md") {
                display: none;
            }

            flex-grow: 1;
            flex-shrink: 1;

            @include footer-padding;

            p {
                @include app.title-text(1.2rem, 400);
                margin-bottom: 0.4rem;
            }

            ul {
                
                display: flex;
                flex-direction: column; // stack items vertically
                flex-wrap: wrap;        // allow overflow items to wrap into new columns
                gap: 1rem;              // spacing between items

                max-height: 100vh;

                list-style-type: none;
                padding: 0;

                max-height: 100%;

                li {
                    @include app.body-text(0.8rem, 600);
                    margin-bottom: 0rem;

                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: auto;

                    transition: color 300ms, transform 300ms;

                    &:hover {
                        transform: translateX(5px);
                        color: app.$accent-color;
                    }

                    a {
                        color: inherit;
                        text-decoration: none;
                    }

                }

            }

        }
    }

}