$primary-color: #1e1e2f;
$accent-color: #e63946;
$text-color: #ffffff;
$font-family: 'Segoe UI';

$screen-breakpoints: (
  "xs": 480px,  // Phones
  "sm": 768px,  // Tablets
  "md": 1024px, // Desktop
  "lg": 1280px, // L Desktop
  "xl": 1600px  // XL Desktop
);

@mixin app-theme {
    background-color: $primary-color;
    color: $text-color;
    font-family: $font-family;
}

@mixin darken-background-image($url, $amount) {
    background-image: $url;
    background-color: rgba(0, 0, 0, $amount);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin respond($breakpoint) {
  @if map-has-key($screen-breakpoints, $breakpoint) {
    @media (max-width: map-get($screen-breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for #{$breakpoint}";
  }
}


@font-face {
    font-family: Wallpoet;
    src: url("resources/fonts/Wallpoet-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BlackOpsOne;
    src: url("resources/fonts/BlackOpsOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}