@use "../../app.component" as app;


nav.navigationbar {

    @include app.app-theme;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        padding: 4rem 6rem;
        max-width: 100%;
        box-sizing: border-box;

        h1 {
            font-family: BlackOpsOne, sans-serif;
            font-size: 2rem;
            margin: 0;

            a {
                color: app.$text-color;
                text-decoration: none;
                transition: color 300ms ease;

                &:hover {
                    color: app.$accent-color;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: flex;
                    flex-shrink: 1;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    height: 5vh;
                    padding: 0.6rem 3rem;
                    border-radius: 5px;

                    color: app.$text-color;
                    text-align: center;
                    text-decoration: none;

                    transition: background-color 0.2s ease, color 0.2s ease;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                        color: app.$accent-color;
                    }
                }
            }
        }

        @include app.respond("sm") {
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            ul {
                justify-content: center;
            }
        }
    }
}
